.all-post {
  &__header {
    position: sticky;
    top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 3.75rem 0;
    font-size: 0.875rem;
    color: rgb(0 0 0 / 50%);
    background-color: white;
    border-bottom: 1px solid rgb(0 0 0 / 15%);
    z-index: 999;

    &__groups {
      &-tab {
        position: relative;
        display: block;
        padding: 0 1rem;
        font-size: 1rem;
        color: rgb(0 0 0 / 35%);
        line-height: 3.75rem;
        cursor: pointer;

        &:hover,
        &--selected {
          color: black;
        }

        &--selected::after {
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          content: "";
          border-bottom: 2px solid rgb(51 151 207);
        }
      }
    }

    &__order {
      &-text {
        line-height: 3.75rem;
      }

      &-selector {
        display: inline-flex;
        align-items: center;
        margin-left: 0.625rem;
        padding: 6px 4px 6px 8px;
        color: rgb(0 0 0 / 75%);
        background-color: rgb(0 16 32 / 6%);
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}
