.sidebar {
  position: sticky;
  display: flex;
  margin: 1.25rem 0;
  width: 13rem;
  height: calc(100vh - 5.5rem);
  flex-direction: column;

  &__topic {
    overflow: auto;

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;

      &:hover {
        background: rgb(0 0 0 / 25%);
      }
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(0 0 0 / 50%);
      border-radius: 100vh;
    }
  }
}
