.intro {
  display: flex;
  align-items: flex-end;
  padding: 1.25rem 0;

  &-article {
    overflow: auto;

    &__category {
      display: flex;
      margin: 0;
      font-size: 0.875rem;
      color: rgb(0 0 0 / 50%);

      img {
        margin-right: 0.5rem;
        border-radius: 50%;
      }
    }

    &__title {
      margin: 0.75rem 0 0;
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1.4;
    }

    &__description {
      overflow: hidden;
      margin: 0.375rem 0 0;
      font-size: 0.875rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: rgb(0 0 0 / 75%);
      line-height: 1.5;
    }

    &__emotion {
      margin: 1rem 0 0;
      font-size: 0.875rem;

      &-icon {
        letter-spacing: -0.375rem;
        opacity: 0.75;
      }

      &-number {
        padding-left: 0.75rem;
        opacity: 0.5;
      }
    }
  }

  &-image {
    margin: 0 0 0.625rem 1.25rem;
    width: 5rem;
    height: 5rem;
    border-radius: 0.75rem;
  }
}
