:root {
  --fontFamily-sans: roboto, "Helvetica Neue", helvetica, arial, "PingFang TC",
    黑體-繁, "Heiti TC", 蘋果儷中黑, "Apple LiGothic Medium", 微軟正黑體,
    "Microsoft JhengHei", sans-serif;
  --font-body: var(--fontFamily-sans);
  --color-primary: #006aa6;
  --color-secondary: #00324e;
  --color-tertiary: #00588a;
  --color-sidebar-white: rgb(255 255 255 / 75%);
  --color-grey-1: rgb(255 255 255 / 75%);
  --color-grey-2: rgb(255 255 255 / 50%);
  --color-grey-3: rgb(255 255 255 / 35%);
  --color-grey-4: rgb(255 255 255 / 25%);
}

/* HTML elements */

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  color: black;
  background-color: var(--color-secondary);
}
